:host {
    width: 20rem;
    margin-top: 3rem;

    .addTodosForm {
        display: flex;
        justify-content: center;

        .addTodosFormInput {
            width: 18rem;
            height: 2rem;
            border: 1px solid #b5cbd0;
            box-shadow: 0 0px 7px 0px #e5edee inset;
            outline: none;
            color: #3c575e;
        }

        .addTodosFormSubmit {
            padding: 0 0.5rem;
            border: none;
            background: #c1d3d8;
            color: #ffffff;
        }
    }
}
